* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    border: 70px solid #4b725f;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: 80%;
}

.card {
    height: 400px;
    width: 300px;
    display: inline-block;
    cursor: pointer;
}

.card:hover .lower-slide,
.card:hover .upper-slide {
    transform: none;
}

.card:hover i {
    opacity: 0;
}

.card:hover .overlay {
    background-color: rgba(55, 138, 92, 0)
}

.slide {
    height: 50%;
    width: 100%;
    position: relative;
    transition: 0.3s;
}

.upper-slide {
    background-size: cover;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    z-index: 10;
}

.lower-slide {
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

#drinks-slide {

    background-image: url("https://i.ibb.co/v34VVcX/drinks.jpg");
}

#entrees-slide {

    background-image: url("https://i.ibb.co/G5mRbRX/entrees.jpg");
}

#dessert-slide {
    background-image: url("https://i.ibb.co/yWxRkz1/dessert.jpg");
}

.lower-slide h3,
.lower-slide p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.decorative-line {
    background-color: #009b50;
    height: 4px;
    width: 30px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.upper-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 138, 92, 0.9);
    transition: 0.3s;
}

.upper-slide i {
    color: white;
    font-size: 50px;
    z-index: 15;
    transition: 0.2s;
}


@media (max-width: 1024px) {
    #container {
        width: 80%;
        border-width: 60px;
    }
}

@media (max-width: 900px) {
    #container {
        width: 85%;
        border-width: 50px;
    }
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
    }

    #container {
        margin-top: 40px;
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .card {
        width: 80%;
    }
    
    .card:nth-child(2) {
        margin: -100px 0;
    }

}